/* Header Color */
.about {
    background-color: #b47aea;
}

/* Green Pin Page Background */
.page {
    display: block;
    width: 50%;
    padding: 3%;
    margin: 35px auto;
    background-image: url("../graphics/page-greenpin.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
}

/* Text Elements on Page Styling */
#heading {
    text-align: center;
}
#fact {
    margin-top: 30px;
}
.goals {
    float: left;
    clear: left;
    width: 65%;
}
p.goals {
    padding: 0;
    margin: 0;
}
#ucla {
    float: right;
    width: 210px;
    height: auto;
    transform: rotate(-2deg);
}
#ucla:hover {
    transform: translateY(-5px);
}
.bc-blurb {
    display: block;
    float: left;
    clear: both;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
}
h3.bc-blurb {
    margin-top: 30px;
}

/* Portrait Adjustments */
#portrait {
    margin-right: 30px;
    border-radius: 10px;
}