/* Header Color */
.courses {
    background-color: #c74e58;
}

/* Change alignment of text on the paper background */
.paper {
    align-items: normal !important;
    text-align: left !important;
}

/* Title Styling */
#title {
    text-align: center;
    margin-top: 0;
}
/* Course Text Elements Styling */
.inside-el {
    padding: 0;
    margin: 5px 0;
}
/* Alter Boldness of the Course title, instructor, and catalog */
.bold {
    font-weight: 600;
}
/* Artifact and Module Buttons Styling */
.button-link {
    font-size: 12px;
    width: fit-content;
    padding: 12px 18px;
    margin: 10px 2px 2px;
    background-color: #c74e58;
    color: #000;
    text-decoration: none;
    border: none;
}
.button-link:hover {
    color: #fff;
    text-decoration: underline;
}
.button-container {
    display: flex;
    gap: 10px;
}