/* Header Color */
.media {
    background-color: #e3b649;
}

/* Pink Pinned Page Styling Settings */
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: auto;
    padding: 3%;
    margin: 35px auto;
    background: #fff;
    text-align: center;
}

/* My Coolest Projects Header Formatting */
#heading {
    text-align: center;
}