/* Header Color */
.modules {
    background-color: #7cb1ec;
}

/* Give Sticky notes a different colored background */
.note {
    background-image: url('../graphics/stickynote-green.png') !important;
}