/* Header Color */
.validated {
    background-color: #61e294;
}

/* Extending Page Vertical Height */
.content {
    height: 330vh;
}

/* Left and Right Column Styling */
.col {
    float: left;
    width: 50%;
}

/* Paper Clip Image Styling */
.clip {
    position: relative;
    float: right;
    top: -10px;
    right: 5px;
    width: 20px;
    z-index: 2;
}

/* Styling for Left Column Images and Captions */
figure.left {
    clear: both;
    padding: 1% 2%;
    margin-left: 30%;
    background-color: #7ac8cc;
    float: right;
}

/* Styling for Right Column Images and Captions */
figure.right {
    clear: both;
    padding: 1% 2%;
    margin-right: 30%;
    background-color: #e49546;
    float: left;
}

/* Special Styling for Top Figures */
figure.top {
    margin-top: 6%;
}

/* Make Sure Image Covers Entire Figure */
img {
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: -1;
}

/* Caption Formatting */
figcaption {
    font-size: 20px;
    font-weight: 500;
    color: black;
    padding-bottom: 3%;
    width: max-content;
}
